

header{
  background-color: darkgreen;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

header > h1{
  background-color: black;
  width: 30%;
  text-align: end;
  color: white;
  display: inline-block;
  padding: 2px;
  border: solid 2px white;
  
}

nav{
  background-color: darkgreen;
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

a{
  background-color: black;
  border: 2px solid white;
  color: white;
}

@media screen and (max-width:600px) {
  header{
    flex-direction: column;
    justify-content: space-around;
  }
  header > h1{
    width:100%;
    text-align: center;
  }
  nav{
    width: 100%;
  }
  #about > aside{
    width: 25%;
  }
}
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  height: 75px;
  background-size: 100%;
  color:white;
}
main{
  height: 500px;
  background-color: gray;
}
/*CSS for the About Me section*/
#about{
  background-color: pink;
  height: 50px;
  display: flex;

}
#about > aside{
  background-color:blue;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
#about > aside > h1{
  background-color: aquamarine;
  border-right: blue solid 2px;
}
#about-me-paragrph{
  background-color: brown;
  border-color: gray;
  width: 75%;
  display:flex;
  flex-wrap: wrap;

}
#about-me-paragraph > p{
  width:100%;
}

/*CSS for the work section*/
#work{
  background-color: green;
  height: 300px;
  display: flex;
  border: white solid 2px;
}

#work > aside{
  background-color: black;
  width: 25%;
  display: flex;
  justify-content: end;

}
#work > aside > h1{
  background-color: black;
  border-right: darkgreen solid 2px;
  color:white
}

#projects{
  background-color: yellow;
  width: 75%;
  display: flex;
  flex-direction: column;
}
#projects > a{
  height: 40%;
  background-image: url(../images/02-hero-bg.jpg);
  color:white;
  background-size: 100%;
}
#projects > a:hover {
  background-size: 500%;
  color:black;
}

#sub-projects{
  background-color: darkgreen;
  height: 60%;
  display:flex;
  flex-wrap: wrap;
}
#sub-projects > a{
  width: 45%;
  background-image: url(../images/02-hero-bg.jpg);
  color:black;
}
#sub-projects > a:hover {
  background-size: 300%;
  color: white;
}
/*CSS for Contacts*/
#contact{
  background-color:black;
  height: 20px;
  display: flex;
  border: white solid 2px;
}
#contact > aside{
  background-color: black;
  width: 25%;
  display: flex;
  justify-content: end;
  color:white;
  border-right: darkgreen;
}